Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* SQL
* Python
* R Language

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Tensorflow
3. Sci-kit learn
4. Matplotlib

Some of the popular languages that Data Scientists use are:
1. Structured Querry Language
2. R Language
3. Python
4. Scala

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Apache Zeppelin   |

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
 #This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
# Define the number of minutes
minutes = 200

# Convert minutes to hours
hours = minutes / 60

# Display the result
hours
 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Akor Simon